.style{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: rgba(63, 90, 163, 0.87) !important;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: grid!important;
    place-items: center!important;
    width: 100%!important;
    height: auto!important;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem!important;
    font-weight: 400!important;
    line-height: 1.4!important;
    color: #495057!important;
    background-color: #ffffff!important;
    -webkit-background-clip: padding-box!important;
    background-clip: padding-box!important;
    border: 0.0625rem solid #d2d6da;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    -ms-appearance: none!important;
    appearance: none!important;
    border-radius: 0.5rem;
    -webkit-transition: box-shadow 150ms ease,border-color 150ms ease,padding 150ms ease!important;
    transition: box-shadow 150ms ease,border-color 150ms ease,padding 150ms ease!important;
    background-color: #ffffff;
    pointer-events: auto;
}
.react-tel-input .form-control {
    width: 100% !important;
    height: 40px !important;
    color: #495057!important;
    border-radius: 8px !important;
}

.stylet :focus{
   
    border-color: #35d1f5 !important;
    box-shadow: 0rem 0rem 0rem 0.125rem rgb(129 227 249) !important;
    outline: 0 !important;
}
.style2{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    padding: 0;
    font-size: 0.875rem;
    font-weight: 400;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0.0625rem solid #d2d6da;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 0.5rem;
    -webkit-transition: box-shadow 150ms ease,border-color 150ms ease;
    transition: box-shadow 150ms ease,border-color 150ms ease;
    cursor: pointer;
    border-color: #d2d6da;
    box-shadow: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }
  
.paddingLeftClass{
    padding-left: 100px !important;
    padding-right: 100px !important;
}
@media screen and (max-width : 480px) {
    .paddingClass{
        padding-top: 0 !important;
    }
    .paddingLeftClass{
        padding-left: 60px !important;
        padding-right: 60px !important;
    }
}

@media screen and (max-width : 281px) {
    .paddingLeftClass{
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}

