
.dashbordPlan{
    text-align: center !important;
    color: black !important;
    margin-top: 70px !important;
    /* background-color: brown; */
}
@media screen and (max-width : 480px) {
    .dashbordPlan{
        /* background-color: aqua; */
        font-size: 24px;
        margin-top: 140px !important;
    }
    .autoDebit{
        padding-top: 25px;
    }
    .price{
        padding: 0px 0px 30px 0px;
    }
}

@media screen and (max-width : 281px) {
    .dashbordPlan{
        /* background-color: aqua; */
        font-size: 24px;
        margin-top: 140px !important;
    }
    .autoDebit{
        padding-top: 40px;
    }
    .price{
        padding: 0px 0px 40px 0px;
    }
    .check1{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
/* style={{ textAlign: "center", color: "black", marginTop: "70px" }} */