

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}
.react-tel-input .form-control {
    width: 100% !important;
    height: 40px !important;
    color: #495057!important;
    border-radius: 8px !important;
}
.stylet :focus{
   
    border-color: #35d1f5 !important;
    box-shadow: 0rem 0rem 0rem 0.125rem rgb(129 227 249) !important;
    outline: 0 !important;
}

.paddingLeftClass{
    padding-left: 100px !important;
    padding-right: 100px !important;
}
@media screen and (max-width : 480px) {
    .paddingLeftClass{
        padding-left: 60px !important;
        padding-right: 60px !important;
    }
}

@media screen and (max-width : 281px) {
    .paddingLeftClass{
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}